* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}
.container {
  max-width: 1232px;
  width: 100%;
  margin: 0 auto;
  padding-left: 40px;
  padding-right: 40px;
  overflow: hidden;
}
.container__card {
  max-width: 1232px;
  width: 100%;
  margin: 0 auto;
  padding-left: 40px;
  padding-right: 40px;
  overflow: visible;
}
.container__video {
  max-width: 1232px;
  width: 100%;
  margin: 0 auto;
  padding-left: 40px;
  padding-right: 40px;
  overflow: visible;
}
:root {
  --primary-color-white: #ffffff;
  --primary-color-base: #ff9f66;
  --secondary-color-green: #258675;
  --text-color-paragraph: #584f49;
  --text-color-heading: #1c0a0a;
  --primary-color-light: #fff1e8;
  --other-color-stroke-2: #cfcfcf;
  -secondary-color-pink: #feaea3;
  --secondary-color-deep-pink: #ff7d6b;
  -other-color-bg: #f5f6f9;
  --other-color-stroke-3: #f4f5f7;
}
body {
  position: relative;
}
/************************************************ Header Start ************************************************/

.header_sticky {
  position: sticky;
  top: 0;
  z-index: 100;
}
header {
  min-height: 162px;
}
.header {
  margin-top: 36px;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  border-radius: 6px;
  background: var(--primary-color-white, #fff);
  box-shadow: 0px 18px 36px 0px rgba(0, 0, 0, 0.05);
  position: sticky;
  top: 0;
  z-index: 100;
}
.header__logo {
  cursor: pointer;
  display: flex;
  align-items: center;
}
.header__nav {
  display: flex;
  align-items: center;
}
.header__logo__nav {
  display: flex;
  gap: 4rem;
}
.header__nav ul {
  display: flex;
  list-style: none;
  gap: 2.5rem;
}
.header__nav ul li {
  flex: none;
  color: var(--text-color-paragraph, #584f49);
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  transition: 0.3s;
  max-height: 25px;
  max-width: 50px;
}
.header__nav ul li:hover {
  color: var(--primary-color-base, #ff9f66);
  font-weight: 600;
  cursor: pointer;
  border-bottom: #ff9f66 solid;
}
.header__btn {
  display: flex;
  gap: 2rem;
  justify-content: end;
  align-items: center;
}
.header__btn a {
  text-decoration: none;
}
.header__btn_signin {
  color: var(--text-color-heading, #1c0a0a);
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  transition: 0.3s;
  line-height: 26px;
}
.header__btn_signin:hover {
  color: #ff9f66;
}
.header__btn_signup {
  color: var(--primary-color-base, #ff9f66);
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 26px;
  border-radius: 6px;
  border: 1px solid var(--primary-color-base, #ff9f66);
  background: var(--primary-color-light, #fff1e8);
  transition: 0.3s;
  padding: 11px 30px;
}
.header__btn_signup:hover {
  color: var(--text-color-paragraph);
  border: 1px solid var(--text-color-paragraph, #ff9f66);
}
.nav-links-mobile {
  display: none;
  cursor: pointer;
}
.nav-links-mobile ul li a {
  text-decoration: none;
  color: #ffffff;
  text-align: center;
  font-family: Albert Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  padding-top: 20px;
}

/************************************************* Header End *************************************************/

/************************************************* Banner Start ***********************************************/
.banner {
  display: flex;
  margin-top: 100px;
}

.banner__image {
  flex: 1;
}

.banner__image img {
  width: 100%;
}

.banner__content {
  width: 60%;
}

.banner__title {
  color: var(--text-color-heading, #1c0a0a);
  font-size: 70px;
  font-style: normal;
  font-weight: 800;
  line-height: 80px;
  max-width: 515px;
}

.banner__desc {
  color: var(--text-color-paragraph, #584f49);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  max-width: 480px;
  margin-top: 22px;
}

.banner__buttons {
  margin-top: 48px;
}

.banner__btn_getstarted {
  text-decoration: none;
  color: var(--primary-color-white, #fff);
  text-align: center;
  padding: 15px 40px;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
  border-radius: 6px;
  margin-right: 23px;
  background: var(--primary-color-base, #ff9f66);
  border: 1px solid;
  transition: 0.3s;
}
.banner__btn_getstarted:hover {
  background: #ff8c49;
}
.banner__btn_learnmore {
  color: var(--text-color-heading, #1c0a0a);
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
  text-decoration: none;
  border-radius: 6px;
  padding: 15px 40px;
  border: 1px solid var(--other-color-stroke, #b0b4c0);
  transition: 0.3s;
}

.banner__btn_learnmore:hover {
  background: var(--primary-color-base);
  color: var(--primary-color-light);
  border: 1px solid var(--primary-color-base);
}

/************************************************** Banner End ************************************************/

/************************************************** Card Start ************************************************/
.cards__block {
  background: var(--secondary-color-green, #258675);
  margin-top: -120px;
  position: relative;
}

.cards {
  display: flex;
  justify-content: space-between;
}

.card {
  border-radius: 6px;
  background: var(--primary-color-white, #fff);
  box-shadow: 0px -10px 20px 0px rgba(0, 0, 0, 0.05);
  padding: 26px;
  margin-top: -80px;
  margin-bottom: 55px;
  transition: 0.5s;
}

.card:hover {
  border-radius: 6px;
  background: var(--primary-color-base);
  cursor: pointer;
}

.card__content {
  display: flex;
}

.card__title {
  color: var(--text-color-heading, #1c0a0a);
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
  max-width: 154px;
  margin-right: 50px;
}

.card__number {
  color: var(--other-color-stroke-2, #cfcfcf);
  text-align: right;
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
  line-height: 60px;
  display: flex;
  align-items: center;
}

.card__image img {
  margin-top: 28px;
  height: 100%;
  width: 100%;
}
/************************************************** Card End **************************************************/

/************************************************** Countdown Start *******************************************/

.countdown {
  margin-top: 150px;
  display: flex;
  justify-content: space-between;
}

.countdown__details {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 70px;
  grid-row-gap: 35px;
}

.countdown__details_div1 {
  grid-area: 1 / 1 / 2 / 2;
}

.countdown__details_div2 {
  grid-area: 1 / 2 / 2 / 3;
}

.countdown__details_div3 {
  grid-area: 2 / 1 / 3 / 2;
}

.countdown__details_div4 {
  grid-area: 2 / 2 / 3 / 3;
}

.countdown__details_title {
  color: var(--text-color-heading, #1c0a0a);
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
  line-height: 60px;
}

.countdown__details_label {
  color: var(--text-color-heading, #1c0a0a);
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
  margin-top: 16px;
}

.countdown__details_desc {
  color: var(--text-color-paragraph, #584f49);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  max-width: 240px;
  margin-top: 10px;
}

.countdown__content {
  padding-top: 50px;
}

.countdown__content_title {
  color: var(--text-color-heading, #1c0a0a);
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
  line-height: 60px;
  max-width: 461px;
}

.countdown__content_sign {
  margin-top: 48px;
  margin-bottom: 4px;
}

/*************************************************** Countdown End ********************************************/
/*************************************************** Video Section Start **************************************/

.features__block {
  background: var(--other-color-bg, #f5f6f9);
  margin-top: 300px;
  position: relative;
  padding-bottom: 150px;
}
.features__image {
  flex: 1;
}
.features__image_img {
  width: 100%;
  margin-top: -150px;
  margin-bottom: 78px;
  cursor: pointer;
}
.features__content {
  display: flex;
}
.features__content_line {
  border: 2px solid orange;
  border-radius: 1px;
  width: 70px;
}
.features__content_header {
  color: var(--text-color-heading, #1c0a0a);
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
  line-height: 60px;
  max-width: 440px;
  margin-top: 22px;
}
.features__content_desc {
  color: var(--text-color-paragraph, #584f49);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  max-width: 359px;
  margin-bottom: 38px;
}
.features__inner_content {
  margin-left: 146px;
}
.features__content_btn {
  color: var(--primary-color-white, #fff);
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 26px;
  padding: 11px 25px;
  border-radius: 4px;
  transition: 0.3s;
  border: var(--primary-color-base) solid 1px;
  background: var(--primary-color-base, #ff9f66);
  text-decoration: none;
}
.features__content_btn:hover {
  background-color: #ff8c49;
}
/* Help Link Styles */
.helplink {
  display: block;
  line-height: 18pt;
  font-size: 72pt;
  font-weight: 400;
  text-align: center;
  color: #999;
  position: absolute;
  top: 100px;
  right: 100px;
  padding-left: 0.1em;
  transition: all 0.1s ease-in-out;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  cursor: pointer;
}
/* Help Modal Logic */
.helpmodal,
.helpmodal * {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
.helpmodal,
.helpoverlay {
  display: none;
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  z-index: 5000;
}
.helpmodal:checked + .helpmodal,
.helpmodal:checked + .helpmodal .helpoverlay {
  display: block;
  opacity: 1;
  pointer-events: auto;
}
.helpoverlay {
  margin: 0;
  background: rgba(0, 0, 0, 0.3);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  cursor: pointer;
}
.helpmodal aside {
  display: block;
  position: relative;
  max-width: 900px;
  margin: 0 auto;
  padding: 0;
  z-index: 6000;
  transition: padding 0.2s ease-in-out;
}
@media (min-width: 900px) {
  .helpmodal aside {
    margin: 90px auto 30px auto;
  }
}
/* Exit Styles */
.helpexit {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  width: 50px;
  height: 50px;
  color: #c00;
  z-index: 6000;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  cursor: pointer;
}
.helpexit:before,
.helpexit:after {
  content: "";
  display: block;
  background: red;
  height: 25px;
  width: 4px;
  position: absolute;
  top: 12.5px;
  left: calc(50% - 2px);
  transform-origin: center;
  transition: all 0.1s ease-in-out;
}
.helpexit:before {
  transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
.helpexit:after {
  transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}
.helpexit:hover:before,
.helpexit:focus:before,
.helpexit:hover:after,
.helpexit:focus:after {
  background: white;
}
.helpexit:hover:before,
.helpexit:focus:before {
  transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}
.helpexit:hover:after,
.helpexit:focus:after {
  transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
.helpexit:focus + article,
.helpexit:hover + article {
  opacity: 0.7;
}

@media (min-width: 900px) {
  .helpexit:focus + article,
  .helpexit:hover + article {
    background: transparent;
    border: 1px solid white;
    color: white;
  }

  .helpexit:hover + article > *,
  .helpexit:focus + article > *,
  .helpexit:hover + article * + *,
  .helpexit:focus + article * + * {
    background: transparent !important;
    color: white;
  }
}

/* Article Styles */
.helpmodal article {
  background: white;
  border: 0 solid transparent;
  margin: 0;
  color: #222;
  max-width: 900px;
  box-shadow: rgba(0, 0, 0, 0.15) 0 3px 15px;
  transition: all 0.2s ease-in-out;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  cursor: default;
}
.helpmodal article h1 {
  letter-spacing: -0.02em;
  font-size: 24pt;
  margin: 0 0 0.5em 0;
}
.helpmodal article p {
  margin: 0;
  font-size: 12pt;
}
.helpmodal article p + p {
  margin-top: 1em;
}
/* Video Embed */
.help__embed__container {
  position: relative;
  padding-bottom: 62.5%;
  height: 0;
  margin: 0;
  overflow: hidden;
  max-width: 100%;
}
.help__embed__container iframe,
.help__embed__container object,
.help__embed__container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
/*************************************************** Video Section End ****************************************/
/*************************************************** Corses End ***********************************************/

.courses__content {
  margin-top: 150px;
  text-align: center;
}
.courses__content_title {
  color: var(--text-color-heading, #1c0a0a);
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
  line-height: 60px;
}
.courses__content_desc {
  color: var(--text-color-paragraph, #584f49);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  max-width: 479px;
  text-align: center;
  margin: 0 auto;
  padding-top: 18px;
}
.courses__card {
  padding: 28px;
  transition: 0.3s;
}
.courses__card:hover {
  border-radius: 14px;
  background: var(--primary-color-white, #fff);
  box-shadow: 0px 18px 36px 0px rgba(0, 0, 0, 0.07);
}
.courses__cards {
  display: flex;
  justify-content: space-between;
  margin: 70px 0;
}
.courses__cards_image {
  margin-top: -48px;
}
.courses__cards_header {
  color: var(--text-color-heading, #1c0a0a);
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 30px;
  margin-top: 24px;
  max-width: 312px;
}
.courses__cards_desc {
  color: var(--text-color-paragraph, #584f49);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  margin-top: 12px;
  max-width: 312px;
}
.courses__cards_rating {
  margin-top: 22px;
  display: flex;
  justify-content: space-between;
}
.courses__cards_rate {
  display: flex;
}
.courses__cards_rate_count {
  color: var(--text-color-paragraph, #584f49);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  padding-left: 7px;
}
.courses__cards_rate_img {
  width: 108px;
  height: 16px;
}
.courses__cards_rate_btn {
  color: var(--text-color-heading, #1c0a0a);
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  text-decoration: none;
  transition: 0.3s;
}
.courses__cards_rate_btn:hover {
  color: var(--primary-color-base);
}
.courses__card_button {
  display: flex;
  justify-content: center;
}
.courses__card_btn {
  color: var(--primary-color-white, #fff);
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 26px;
  padding: 11px 29px;
  border-radius: 4px;
  background: var(--primary-color-base, #ff9f66);
  transition: 0.3s;
  border: var(--primary-color-base) solid 1px;
}
.courses__card_btn:hover {
  background-color: #ff8c49;
}
/*************************************************** Corses End ***********************************************/

/*************************************************** Pricing Section Start ************************************/
.pricing__block {
  margin-top: 150px;
  padding: 150px 0;
  background: var(--other-color-bg, #f5f6f9);
}
.pricing__content_title {
  color: var(--text-color-heading, #1c0a0a);
  text-align: center;
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
  line-height: 60px;
}
.pricing__content_desc {
  color: var(--text-color-paragraph, #584f49);
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  max-width: 398px;
  margin-top: 18px;
  margin: 18px auto 0;
}
.pricing__cards {
  display: flex;
  justify-content: space-between;
  margin-top: 70px;
}
.pricing__card {
  background-color: white;
  display: flex;
  flex-direction: column;
}
.pricing__card_header_content {
  border-bottom: 2px solid #f4f5f7;
  padding-bottom: 34px;
}
.pricing__card_two_header_content {
  background-color: var(--primary-color-base);
  color: white;
  border-bottom: 2px solid var(--primary-color-base);
  padding-bottom: 34px;
}
.pricing__card_label {
  margin-top: 71px;
  justify-content: center;
  display: flex;
}
.pricing__card_label_visibility {
  margin-top: 71px;
  justify-content: center;
  display: flex;
  visibility: hidden;
}
.pricing__card_header {
  margin: 12px 85px 0;
  color: var(--text-color-heading, #1c0a0a);
  text-align: center;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 34px;
}
.pricing__card_two_header {
  margin: 12px 60px 0;
  color: white;
  text-align: center;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 34px;
}
.pricing__card_three_header {
  margin: 12px 60px 0;
  color: var(--text-color-heading, #1c0a0a);
  text-align: center;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 34px;
}
.pricing__card_price {
  color: var(--text-color-heading, #1c0a0a);
  text-align: center;
  font-size: 34px;
  font-style: normal;
  font-weight: 600;
  line-height: 44px;
  margin-top: 10px;
}
.pricing__card_two_price {
  color: white;
  text-align: center;
  font-size: 34px;
  font-style: normal;
  font-weight: 600;
  line-height: 44px;
  margin-top: 10px;
}
.pricing__card_options {
  padding: 0 30px;
  flex: 1;
  display: flex;
  flex-direction: column;
}
.pricing__card_options_label {
  justify-content: center;
  display: flex;
  margin: 18px 0 26px;
}
.pricing__card_optionsflex {
  flex: 1;
}
.pricing__card_option {
  display: flex;
  margin-top: 12px;
  padding: 18px 16px;
  border-radius: 6px;
  border: 1px solid var(--other-color-stroke-3, #f4f5f7);
}
.pricing__card_option_desc {
  display: flex;
  align-items: center;
  margin-left: 16px;
}
.pricing__card_btn {
  margin: 40px 0 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
  transition: 0.3s;
  border: 1px solid var(--primary-color-base, #ff9f66);
}
.pricing__card_two_btn {
  margin: 40px 0 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
  transition: 0.3s;
  background-color: var(--primary-color-base);
  color: var(--primary-color-base);
  border: 1px solid var(--primary-color-base, #ff9f66);
}
.pricing__card_two_btn:hover {
  background-color: white;
}
.pricing__card_btn_a {
  display: flex;
  justify-content: center;
  width: 100%;
  text-decoration: none;
  color: var(--primary-color-base, #ff9f66);
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 26px;
  transition: 0.3s;
}
.pricing__card_two_btn_a {
  display: flex;
  justify-content: center;
  width: 100%;
  text-decoration: none;
  color: white;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 26px;
  transition: 0.3s;
}
.pricing__card_two_btn_a:hover {
  color: var(--primary-color-base);
}
.pricing__card_btn:hover {
  background-color: var(--primary-color-base);
}
.pricing__card_btn_a:hover {
  color: white;
}
/*************************************************** Pricing Section End **************************************/

/*************************************************** Testimonials Start ***************************************/
.testimonials {
  margin: 150px 0;
  text-align: center;
}
.testimonials__title {
  color: var(--text-color-heading, #1c0a0a);
  text-align: center;
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
  line-height: 60px;
  margin: 0 auto;
  max-width: 458px;
}
.testimonials__content {
  margin: 124px 150px 0px;
  border-radius: 20px;
  border: 1px solid #ededed;
  background: var(--primary-color-white, #fff);
  box-shadow: 0px 60px 150px -20px rgba(0, 0, 0, 0.04);
}
.testimonials__content_desc {
  color: var(--text-color-paragraph, #584f49);
  text-align: center;
  margin: 36px auto 0;
  font-size: 18px;
  font-style: italic;
  font-weight: 500;
  line-height: 32px;
  max-width: 590px;
}
.testimonials__content_name {
  margin-top: 28px;
}
.testimonials__content_role {
  color: var(--text-color-paragraph, #584f49);
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 35px;
}
.testimonials__content_img {
  display: flex;
  justify-content: center;
  margin-top: -55px;
}
/*************************************************** Testimonials ENd *****************************************/

/*************************************************** Newsletter Start *****************************************/
.newsletter__block {
  background: var(--secondary-color-green, #258675);
}
.newsletter {
  margin: 99px 0;
  padding: 70px 0;
  border-radius: 8px;
  border: 10px solid var(--secondary-color-green-2, #45a090);
}
.newsletter__title {
  color: var(--primary-color-white, #fff);
  text-align: center;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
}
.newsletter__desc {
  color: var(--secondary-color-green-light, #d4eee9);
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  margin-top: 14px;
}
.newsletter__bar {
  max-width: 750px;
  width: 100%;
  margin: 48px auto 0;
  background: rgba(0, 0, 0, 0.2);
}
.newsletter__bar_form {
  display: flex;
  flex-wrap: wrap;
}
.newsletter__bar_flex {
  flex: 1;
}
.newsletter__bar_input {
  width: 100%;
  color: white;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border: none;
  padding-left: 14px;
  border: 1px #45a090 solid;
  border-right: none;
  background-color: #258675;
}
.newsletter__bar_input:focus {
  outline: none;
}
.newsletter__bar_input::placeholder {
  color: var(--secondary-color-green-3, #94cac0);
  text-align: left;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
}
.newsletter__bar_button {
  padding: 16px 44px;
  border: 1px solid var(--primary-color-base);
  border-radius: 4px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  background: #ff9f66;
  overflow: hidden;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  line-height: 26px;
  transition: 0.3s;
}
.newsletter__bar_button:hover {
  background-color: #ff8c49;
  cursor: pointer;
}
/*************************************************** Newsletter End *******************************************/

/*************************************************** Footer Start *********************************************/
.footer {
  background-image: url(Image/Footer.png);
  background-repeat: no-repeat;
  height: 605px;
  margin-top: 160px;
  padding-left: 48px;
  display: flex;
  justify-content: space-between;
}
.footer__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.footer__content_title {
  color: var(--text-color-heading, #1c0a0a);
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
  line-height: 60px;
  max-width: 484px;
}
.footer__content_desc {
  color: var(--text-color-paragraph, #584f49);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  width: 467px;
  margin-top: 26px;
}
.footer__form {
  margin-top: -84px;
  width: 564px;
  height: 620px;
  border-radius: 20px;
  background: var(--primary-color-white, #fff);
  box-shadow: 0px 80.6px 105.70135px 0px rgba(51, 51, 51, 0.1);
}
.footer__form_inner {
  margin: 45px 40px 0;
}
.footer__form_input {
  margin-top: 20px;
  width: 100%;
  padding: 17px 0 17px 25px;
  border-radius: 5px;
  border: 1px solid var(--other-color-stroke-2, #cfcfcf);
  background: var(--primary-color-white, #fff);
}
.footer__form_inner input:focus {
  outline: none;
}
.footer__form_inner input::placeholder {
  color: var(--text-color-paragraph, #584f49);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
}
.footer__form_inner textarea {
  width: 100%;
  margin-top: 20px;
  border-radius: 5px;
  padding: 17px 0 17px 25px;
  border: 1px solid var(--other-color-stroke-2, #cfcfcf);
  background: var(--primary-color-white, #fff);
}
.footer__form_inner textarea:focus {
  outline: none;
}
.footer__form_inner textarea::placeholder {
  color: var(--text-color-paragraph, #584f49);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
}
.footer__form_teams {
  display: flex;
  margin-top: 22px;
}
.footer__form_checkbox {
  margin-right: 10px;
}
.footer__form_policy {
  color: var(--primary-color-base);
  cursor: pointer;
}
.footer__form_btn {
  margin-top: 27px;
}
.footer__form_btn a {
  text-decoration: none;
  color: var(--primary-color-white, #fff);
  border-radius: 4px;
  background: var(--primary-color-base, #ff9f66);
  box-shadow: 0px 24px 34px 0px rgba(32, 70, 100, 0.1);
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  padding: 16px 28px;
  transition: 0.3s;
}
.footer__form_btn a:hover {
  background-color: #ff8c49;
}
.footer__last {
  margin: 51px 0 38px 0;
  display: flex;
  justify-content: space-between;
}
.footer__copyright {
  display: flex;
  align-items: center;
}
.footer__last_copyright {
  color: var(--text-color-paragraph, #584f49);
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
.footer__social {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer__social_facebook {
  padding: 20px 23px;
  margin: 10px;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
  border-radius: 100%;
  color: var(--primary-color-base);
  cursor: pointer;
  transition: 0.3s;
}
.footer__social_facebook:hover {
  background-color: var(--primary-color-base);
  color: white;
}
.footer__social_instagram {
  transition: 0.3s;
  padding: 20px;
  margin: 10px;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
  border-radius: 100%;
  color: var(--primary-color-base);
  cursor: pointer;
}
.footer__social_instagram:hover {
  background-color: var(--primary-color-base);
  color: white;
}
.footer__social_twitter {
  transition: 0.3s;
  padding: 20px;
  margin: 10px;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
  border-radius: 100%;
  color: var(--primary-color-base);
  cursor: pointer;
}
.footer__social_twitter:hover {
  background-color: var(--primary-color-base);
  color: white;
}
/*************************************************** Footer End ***********************************************/
/*************************************************** Media Query **********************************************/
@media (max-width: 1024px) {
  .container {
    max-width: 1024px;
  }
  .banner__image {
    margin-top: 50px;
  }
}
@media (max-width: 960px) {
  .container {
    max-width: 960px;
  }
  .navigation_menu {
    position: fixed;
    right: 0px;
    bottom: 0px;
    top: 0px;
    transition: all 0.3s;
    opacity: 0;
    transform: translateX(100%);
    background: #fff;
    display: block;
    margin-top: 125px;
  }
  .navigation_menu.is-active {
    transform: translateX(0);
    left: 0px;
    opacity: 1;
    margin-top: 125px;
    display: block;
  }
  .header__nav ul li {
    flex: none;
    color: var(--text-color-paragraph, #584f49);
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    transition: 0.3s;
    margin-top: 25px;
  }

  #menu-btn.is-active {
    z-index: 20;
  }
}
@media (max-width: 768px) {
  .container {
    max-width: 768px;
  }
  .nav-links-mobile {
    display: flex;
  }

  /* Cards */
  .cards__background {
    margin-top: 100px;
  }
  .cards {
    flex-wrap: wrap;
  }
  .card {
    width: 45%;
  }
  .card__three {
    margin-top: 0;
    width: 100%;
  }
  .card__content {
    display: flex;
    justify-content: space-between;
  }

  /* Countdown */
  .countdown {
    flex-wrap: wrap;
  }
  .countdown__content {
    padding-left: 95px;
    text-align: center;
  }
  .countdown__details {
    padding-left: 50px;
    text-align: center;
  }
  .courses__cards {
    display: flex;
    justify-content: center;
    margin: 50px 0;
    flex-wrap: wrap;
  }
  .courses__card {
    padding: 28px;
    transition: 0.3s;
    margin-top: 30px;
  }
  .pricing__background {
    margin-top: 70px;
    padding: 70px 0;
    background: var(--other-color-bg, #f5f6f9);
  }
  .pricing__cards {
    display: flex;
    justify-content: center;
    margin-top: 70px;
    flex-wrap: wrap;
  }
  .pricing__card {
    margin-bottom: 30px;
  }
  .testimonials {
    margin: 70px 0;
  }
  .testimonials__content {
    margin: 124px 0px;
    border-radius: 20px;
    border: 1px solid #ededed;
    background: var(--primary-color-white, #fff);
    box-shadow: 0px 60px 150px -20px rgba(0, 0, 0, 0.04);
  }
  .footer {
    background-image: url(Image/Footer.png);
    background-repeat: no-repeat;
    margin-top: 100px;
    padding-left: 48px;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
  }
  .footer__form {
    margin-top: 40px;
    width: 564px;
    height: 620px;
    border-radius: 20px;
    background: var(--primary-color-white, #fff);
    box-shadow: 0px 80.6px 105.70135px 0px rgba(51, 51, 51, 0.1);
  }
  .footer__last {
    margin: 330px 0 38px 0;
    display: flex;
    justify-content: space-between;
  }
}
@media (max-width: 430px) {
  .container {
    max-width: 430px;
  }
  header {
    min-height: 0px;
  }
  .header {
    padding: 0;
    box-shadow: none;
    margin-top: 22px;
  }
  .header__btn {
    display: flex;
    gap: 1rem;
    justify-content: end;
    align-items: center;
  }
  .header__logo__nav {
    display: flex;
    gap: 1rem;
  }
  .navigation_menu.is-active {
    transform: translateX(0);
    left: 0px;
    opacity: 1;
    margin-top: 80px;
    display: block;
  }
  .header__nav ul li {
    color: var(--text-color-paragraph, #584f49);
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    transition: 0.3s;
    margin-top: 25px;
  }
  .header__btn_signup {
    color: var(--primary-color-base, #ff9f66);
    text-align: center;
    font-size: 10px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    border-radius: 6px;
    border: 1px solid var(--primary-color-base, #ff9f66);
    background: var(--primary-color-light, #fff1e8);
    transition: 0.3s;
    padding: 6px 16px;
  }
  .header__btn_signin {
    color: var(--text-color-heading, #1c0a0a);
    font-size: 10px;
    font-style: normal;
    font-weight: 600;
    transition: 0.3s;
    line-height: 20px;
  }
  .banner {
    display: flex;
    flex-wrap: wrap;
    margin-top: 28px;
  }
  .banner__content {
    width: 100%;
  }
  .banner__image {
    padding-left: 30px;
    width: 100%;
  }
  .banner__image img {
    width: 234px;
    height: 344px !important;
  }
  .banner__title {
    color: var(--text-color-heading, #1c0a0a);
    max-width: 264px;
    font-size: 36px;
    font-style: normal;
    font-weight: 800;
    line-height: 46px;
  }
  .banner__desc {
    color: var(--text-color-paragraph, #584f49);
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    margin-top: 12px;
  }
  .banner__buttons {
    margin-top: 24px;
  }
  .banner__btn_getstarted {
    color: var(--primary-color-white, #fff);
    text-align: center;
    font-size: 10px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    padding: 10px 20px;
    margin-right: 10px;
  }
  .banner__btn_learnmore {
    color: var(--text-color-heading, #1c0a0a);
    text-align: center;
    font-size: 10px;
    font-style: normal;
    font-weight: 600;
    padding: 9px 11px;
    line-height: 20px; /* 200% */
  }
  .cards {
    flex-wrap: wrap;
  }
  .card {
    width: 100%;
    margin-top: -25px;
    margin-right: 0;
  }
  .countdown {
    margin: 70px 0;
    display: flex;
    justify-content: space-between;
  }
  .countdown__details {
    padding-left: 0px;
    text-align: left;
    order: 2;
    margin-top: 11px;
  }
  .countdown__content {
    padding-left: 0px;
    text-align: left;
    padding-top: 0px;
  }
  .countdown__content_title {
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: 36px;
  }
  .countdown__details_title {
    color: var(--text-color-heading, #1c0a0a);
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: 36px;
  }
  .countdown__details_label {
    color: var(--text-color-heading, #1c0a0a);
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 22px;
    margin-top: 8px;
  }
  .countdown__details_desc {
    color: var(--text-color-paragraph, #584f49);
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    max-width: 157px;
    margin-top: 2px;
  }
  .features__background {
    margin-top: 140px;
  }
  .features__content {
    display: flex;
    flex-direction: column;
  }
  .features__image_img {
    margin-bottom: 28px;
  }
  .features__content_header {
    color: var(--text-color-heading, #1c0a0a);
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: 36px;
    max-width: 295px;
    margin-top: 8px;
  }
  .features__content_desc {
    color: var(--text-color-paragraph, #584f49);
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    max-width: 253px;
    margin-bottom: 18px;
  }
  .features__inner_content {
    margin-left: 0;
    margin-top: 12px;
  }
  .features__content_btn {
    font-size: 12px;
    line-height: 22px;
  }
  .features__background {
    padding-bottom: 48px;
  }
  .card__title {
    color: var(--text-color-heading, #1c0a0a);
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px;
    max-width: 104px;
    margin-right: 50px;
  }
  .card__number {
    color: var(--other-color-stroke-2, #cfcfcf);
    text-align: right;
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: 36px;
    display: flex;
    align-items: center;
  }
  .courses__content {
    margin-top: 70px;
    text-align: center;
  }
  .courses__content_title {
    color: var(--text-color-heading, #1c0a0a);
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: 36px;
  }
  .courses__content_desc {
    color: var(--text-color-paragraph, #584f49);
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    max-width: 339px;
    text-align: center;
    margin: 0 auto;
    padding-top: 12px;
  }
  .courses__cards {
    display: flex;
    justify-content: space-between;
    margin: 56px 0 0;
    flex-wrap: wrap;
  }
  .courses__card {
    padding: 28px;
    transition: 0.3s;
    margin-bottom: 58px;
    border-radius: 14px;
    background: var(--primary-color-white, #fff);
    box-shadow: 0px 18px 36px 0px rgba(0, 0, 0, 0.07);
  }
  .courses__cards_image img {
    width: 100%;
  }
  /* .courses__card_last {
    padding: 28px;
    transition: 0.3s;
    margin-bottom: 0;
  } */
  .courses__cards_header {
    color: var(--text-color-heading, #1c0a0a);
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    margin-top: 16px;
    max-width: 176px;
  }
  .courses__cards_desc {
    color: var(--text-color-paragraph, #584f49);
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    margin-top: 8px;
    max-width: 257px;
  }
  .courses__cards_rating {
    margin-top: 12px;
    display: flex;
    justify-content: space-between;
  }
  .courses__cards_rate_count {
    color: var(--text-color-paragraph, #584f49);
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    padding-left: 7px;
    line-height: 18px;
  }
  .courses__cards_rate_btn {
    color: var(--text-color-heading, #1c0a0a);
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    text-decoration: none;
    transition: 0.3s;
  }
  .courses__card_btn {
    color: var(--primary-color-white, #fff);
    text-align: center;
    text-decoration: none;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 22px;
    padding: 10px 31px;
    border-radius: 4px;
    background: var(--primary-color-base, #ff9f66);
    transition: 0.3s;
    border: var(--primary-color-base) solid 1px;
    margin-top: 10px;
  }
  .pricing__background {
    margin-top: 70px;
    padding: 38px 0;
    background: var(--other-color-bg, #f5f6f9);
  }
  .pricing__content_title {
    color: var(--text-color-heading, #1c0a0a);
    text-align: center;
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: 36px;
  }
  .pricing__content_desc {
    color: var(--text-color-paragraph, #584f49);
    text-align: center;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    max-width: 339px;
    margin-top: 18px;
    margin: 12px auto 0;
  }
  .pricing__cards {
    display: flex;
    justify-content: center;
    margin-top: 28px;
    flex-wrap: wrap;
  }
  .pricing__card {
    background-color: white;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }
  .pricing__card_label_visibility {
    margin-top: 29px;
    justify-content: center;
    display: flex;
    visibility: hidden;
  }
  .pricing__card_label {
    margin-top: 29px;
    justify-content: center;
    display: flex;
  }
  .pricing__card_header {
    color: var(--text-color-heading, #1c0a0a);
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
  }
  .pricing__card_price {
    color: var(--text-color-heading, #1c0a0a);
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
    margin-top: 6px;
  }
  .pricing__card_header_content {
    border-bottom: 2px solid #f4f5f7;
    padding-bottom: 22px;
  }
  .pricing__card_options_label {
    justify-content: center;
    display: flex;
    margin: 18px 0 26px;
    font-size: 12px;
    line-height: 22px;
  }
  .pricing__card_option_desc {
    display: flex;
    align-items: center;
    margin-left: 14px;
    font-size: 12px;
    line-height: 22px;
  }
  .pricing__card_btn_a {
    display: flex;
    justify-content: center;
    width: 100%;
    text-decoration: none;
    color: var(--primary-color-base, #ff9f66);
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    transition: 0.3s;
  }
  .pricing__card_label {
    margin-top: 11px;
    justify-content: center;
    display: flex;
    font-size: 10px;
    line-height: 20px;
    font-weight: 600;
    font-style: normal;
  }
  .pricing__card_two_header {
    color: white;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
  }
  .pricing__card_two_price {
    color: white;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
    margin-top: 6px;
  }
  .pricing__card_two_btn_a {
    display: flex;
    justify-content: center;
    width: 100%;
    text-decoration: none;
    color: white;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    transition: 0.3s;
  }
  .pricing__card_two_btn {
    margin: 28px 0 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    transition: 0.3s;
    background-color: var(--primary-color-base);
    color: var(--primary-color-base);
    border: 1px solid var(--primary-color-base, #ff9f66);
  }
  .pricing__card_two_btn:hover {
    background-color: var(--primary-color-base);
  }
  .pricing__card_btn {
    margin: 120px 0 28px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    transition: 0.3s;
    border: 1px solid var(--primary-color-base, #ff9f66);
  }
  .pricing__card_three_header {
    margin: 0;
    color: var(--text-color-heading, #1c0a0a);
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
  }
  .testimonials {
    margin: 70px 0;
    text-align: center;
  }
  .testimonials__title {
    color: var(--text-color-heading, #1c0a0a);
    text-align: center;
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: 36px;
    margin: 0 auto;
    max-width: 295px;
  }
  .testimonials__content_desc {
    color: var(--text-color-paragraph, #584f49);
    text-align: center;
    margin: 22px auto 0;
    font-size: 10px;
    font-style: italic;
    font-weight: 500;
    line-height: 16px;
    max-width: 320px;
  }
  .testimonials__content {
    margin: 80px 0px 0px;
    border-radius: 8px;
    border: 1px solid #ededed;
    background: var(--primary-color-white, #fff);
    box-shadow: 0px 60px 150px -20px rgba(0, 0, 0, 0.04);
  }
  .testimonials__content_name {
    margin-top: 10px;
    font-size: 8px;
    line-height: 16px;
    font-weight: 600;
    font-style: normal;
  }
  .testimonials__content_role {
    color: var(--text-color-paragraph, #584f49);
    text-align: center;
    font-size: 8px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    margin-bottom: 10px;
  }
  .newsletter {
    margin: 38px 0;
    padding: 28px 0;
    border-radius: 8px;
    border: 4px solid var(--secondary-color-green-2, #45a090);
  }
  .newsletter__title {
    color: var(--primary-color-white, #fff);
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
  }
  .newsletter__desc {
    color: var(--secondary-color-green-light, #d4eee9);
    text-align: center;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    margin-top: 6px;
  }
  .newsletter__bar {
    max-width: 280px;
    width: 100%;
    margin: 18px auto 0;
    background: rgba(0, 0, 0, 0.2);
  }
  .newsletter__bar_button {
    padding: 10px 28px;
    border: 1px solid var(--primary-color-base);
    border-radius: 4px;
    background: #ff9f66;
    overflow: hidden;
    color: #fff;
    font-size: 12px;
    font-weight: 600;
    line-height: 22px;
    transition: 0.3s;
    width: 100%;
    margin: 22px 77px 0;
  }
  .newsletter__bar_form {
    display: flex;
    flex-wrap: wrap;
    background: #258675;
  }
  .newsletter__bar_input {
    width: 100%;
    color: white;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    border: none;
    padding: 12px 0 12px 14px;
    border: 1px #45a090 solid;
    background-color: #258675;
    border-radius: 4px;
  }
  .newsletter__bar_input::placeholder {
    color: var(--secondary-color-green-3, #94cac0);
    text-align: left;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
  }
  .footer {
    background-image: none;
    margin-top: 70px;
    padding-left: 0px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .footer__form {
    margin-top: 20px;
    background: var(--primary-color-white, #fff);
    box-shadow: 0px 80.6px 105.70135px 0px rgba(51, 51, 51, 0.1);
  }
  .footer__content_title {
    color: var(--text-color-heading, #1c0a0a);
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: 36px;
    max-width: 295px;
  }
  .footer__content_desc {
    color: var(--text-color-paragraph, #584f49);
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    width: 317px;
    margin-top: 12px;
  }
  .footer__form_input {
    margin-top: 12px;
    width: 100%;
    padding: 8px 0 8px 12px;
    border-radius: 3px;
    border: 1px solid var(--other-color-stroke-2, #cfcfcf);
    background: var(--primary-color-white, #fff);
  }
  .footer__last {
    margin: 51px 0 38px 0;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }
  .footer__form {
    width: 564px;
    height: 450px;
    border-radius: 20px;
    background: var(--primary-color-white, #fff);
    box-shadow: 0px 80.6px 105.70135px 0px rgba(51, 51, 51, 0.1);
  }
  .footer__form_inner input::placeholder {
    color: var(--text-color-paragraph, #584f49);
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
  }
  .footer__form_inner textarea {
    width: 100%;
    margin-top: 12px;
    border-radius: 5px;
    padding: 8px 0 8px 12px;
    border: 1px solid var(--other-color-stroke-2, #cfcfcf);
    background: var(--primary-color-white, #fff);
  }
  .footer__form_inner textarea::placeholder {
    color: var(--text-color-paragraph, #584f49);
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
  }
  .footer__form_teams {
    display: flex;
    margin-top: 11px;
  }
  .footer__form_label {
    font-size: 10px;
    line-height: 20px;
  }
  .footer__form_btn {
    margin-top: 11px;
  }
  .footer__form_btn a {
    text-decoration: none;
    color: var(--primary-color-white, #fff);
    border-radius: 2px;
    background: var(--primary-color-base, #ff9f66);
    box-shadow: 0px 24px 34px 0px rgba(32, 70, 100, 0.1);
    text-align: center;
    font-size: 10px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    padding: 5px 11px;
    transition: 0.3s;
  }
  .footer__last_copyright {
    color: var(--text-color-paragraph, #584f49);
    text-align: center;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    margin: 8px 0;
  }
  .footer__social_facebook {
    padding: 15px 20px;
    margin: 0px;
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
    border-radius: 100%;
    color: var(--primary-color-base);
  }
  .footer__social_instagram {
    padding: 17px;
    margin: 0px;
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
    border-radius: 100%;
    color: var(--primary-color-base);
  }
  .footer__social_twitter {
    padding: 17px;
    margin: 0px;
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
    border-radius: 100%;
    color: var(--primary-color-base);
  }
  .footer__social {
    display: flex;
    align-items: center;
    gap: 1rem;
    justify-content: normal;
  }
}
@media (max-width: 376px) {
  .container {
    max-width: 376px;
  }
  .navigation_menu.is-active {
    transform: translateX(0);
    left: 0px;
    opacity: 1;
    margin-top: 90px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .header__nav ul li {
    color: var(--text-color-paragraph, #584f49);
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    transition: 0.3s;
    margin-top: 0;
  }
  .courses__cards {
    display: flex;
    justify-content: space-between;
    margin: 60px 0 0;
    flex-wrap: wrap;
  }
  .courses__card {
    padding: 0 17px 26px;
    transition: 0.3s;
    margin-bottom: 64px;
    border-radius: 14px;
    background: var(--primary-color-white, #fff);
    box-shadow: 0px 18px 36px 0px rgba(0, 0, 0, 0.07);
  }
  .courses__card_button {
    display: flex;
    justify-content: center;
    margin-top: -32px;
  }
  .newsletter__bar_input {
    width: 100%;
    color: white;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    border: none;
    padding: 12px 0 12px 14px;
    border: 1px #45a090 solid;
    background-color: #258675;
    border-radius: 4px;
    margin: 0 30px;
  }
  .footer {
    background-image: none;
    margin-top: 70px;
    padding-left: 0px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .footer__form_inner {
    margin: 28px 23px 0;
  }
  .footer__form_label {
    font-size: 9px;
    line-height: 20px;
  }
  .features__block {
    background: var(--other-color-bg, #f5f6f9);
    margin-top: 300px;
    position: relative;
    padding-bottom: 48px;
  }
  .newsletter__desc {
    color: var(--secondary-color-green-light, #d4eee9);
    text-align: center;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    margin-top: 6px;
  }
}
@media (max-width: 321px) {
  .container {
    max-width: 321px;
  }
  .header__btn_signup {
    font-size: 7px;
  }
  .banner__title {
    color: var(--text-color-heading, #1c0a0a);
    font-size: 31px;
    font-style: normal;
    font-weight: 800;
    line-height: 41px;
  }
  .banner__image {
    padding-left: 10px;
    width: 100%;
  }
  .courses__card {
    padding: 0 17px 26px;
    transition: 0.3s;
    margin-bottom: 58px;
  }
  .courses__cards_image img {
    width: 100%;
  }
}
/*************************************************** Media Query End ******************************************/
